<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azhon.appupdate">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--适配Android O 应用安装-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <service android:name=".service.DownloadService" />
        <provider
            android:name="com.azhon.appupdate.config.AppUpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_file" />
        </provider>
    </application>
</manifest>